{% extends 'task/base.html' %}

{% block title %}Priorities – Hangarin{% endblock %}

{% block content %}
<div class="header-bar">
    <h1>Priorities</h1>
    <a href="{% url 'priority_create' %}" class="btn-create">+ Add Priority</a>
</div>

<div class="grid">
    {% for priority in priorities %}
    <div class="card">
        <div>
            <h3>{{ priority.name }}</h3>
        </div>

        <div class="card-actions">
            <a href="{% url 'priority_update' priority.pk %}" class="action-link action-edit">Edit</a>
            <a href="{% url 'priority_delete' priority.pk %}" class="action-link action-delete">Delete</a>
        </div>
    </div>
    {% empty %}
    <p>No priorities found.</p>
    {% endfor %}
</div>
{% endblock %}
